<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/akhilb/LDP-QA/SeleniumAmazonAssignmentPOM">
        <classes>
            <class name="testcases.WithLogin">
                <methods>
                    <include name="withLoginTest"/>
                </methods>
            </class>
            <class name="testcases.WithoutLogin">
                <methods>
                    <include name="withoutLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>